<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="read" parallel="tests">
    <test name="addresses">
        <classes>
            <class name="com.cardano.rest.tests.functional.AddressesTest" />
        </classes>
    </test>
    <test name="blocks">
        <classes>
            <class name="com.cardano.rest.tests.functional.BlocksTest" />
        </classes>
    </test>
    <test name="epochs">
        <classes>
            <class name="com.cardano.rest.tests.functional.EpochsTest" />
        </classes>
    </test>
    <test name="genesis">
        <classes>
            <class name="com.cardano.rest.tests.functional.GenesisTest" />
        </classes>
    </test>
    <test name="transactions">
        <classes>
            <class name="com.cardano.rest.tests.functional.TransactionsTest" />
        </classes>
    </test>
</suite>